{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <style>
    *{
  padding: 0px;
  margin: 0px;
  font-family: 'Fira Code';
}
body{
  height: 100%;
  background: #95a5a6;
}
.chat-box{
  position: absolute;
  right: 20px;
  bottom: 0px;
  background: white;
  width: 300px;
  border-radius: 5px 5px 0px 0px;
}
.chat-head{
  width: inherit;
  height: 100%;
  background: #2c3e50;
  border-radius: 5px 5px 0px 0px;
}
.chat-head h2{
  color: white;
  padding: 8px;
  display: inline-block;
}
.chat-head img{
  cursor: pointer;
  float: right;
  width: 25px;
  margin: 10px;
}
.chat-body{
  height: 355px;
  width: inherit;
  overflow: auto;
  margin-bottom: 45px;
}
.chat-text{
  position: fixed;
  bottom: 0px;
  height: 45px;
  width: inherit;
}
.chat-text textarea{
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  border: 1px solid #bdc3c7;
  padding: 10px;
  resize: none;
}
.chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover{
  border-color: royalblue;
}
.msg-send{
  background: #2ecc71;
}
.msg-receive{
  background: #3498db;
}
.msg-send, .msg-receive{
  width: 200px;
  height: 35px;
  padding: 5px 5px 5px 10px;
  margin: 10px auto;
  border-radius: 3px;
  line-height: 30px;
  position: relative;
  color: white;
}
.msg-receive:before{
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border: 15px solid;
  border-color: transparent #3498db transparent transparent;
  left: -29px;
  top: 7px;
}
.msg-send:after{
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border: 15px solid;
  border-color: transparent transparent transparent #2ecc71;
  right: -29px;
  top: 2.5px;
}
.msg-receive:hover, .msg-send:hover{
  opacity: .9;
}

.calculator {
  margin-top: 15%;
  margin-bottom: 15%
}

.calculator .model {
  background: #4e4e4e;
}
.calculator .calcs {
  font-size: 56px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: auto;
  border-radius: 0;
  cursor: text;
}

.calculator #title {
  color: #f9f9f9;
}

.calculator .btn {
  border-radius: 0;
}

</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 5">
    <meta name="author" content="{{author}}">
    
    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />

    
    <title>
        {% block title %} Lab 6 By {{author}} {% endblock %}
    </title>
</head>
<body>
    <header>
        {% include "lab_6/partials/header.html" %}
    </header>
    <content>
            <section class="calculator">
                <div class="container">
                    <div class="model col-lg-5">
                        <div class="container-fluid">
                            <div class="row" id="title">
                                <h1 class="text-center">
                                    CALCULATOR
                                </h1>
                            </div>
                            <div class="row" id="calcs-section">
                                <div class="row">
                                    <input id="printing" type="text" readonly="readonly" class="form-control text-right calcs" value="0">
                                </div>
                            </div>
                            <!-- Adapted from Tom Howard -->
                            <div class="row" id="calc-buttons">
                                <div class="row">
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go('ac');">AC</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go('log');">log</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go('sin');">sin</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go('tan');">tan</button>
                                </div>
                                <div class="row">
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go(7);">7</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go(8);">8</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go(9);">9</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go(' * ');">*</button>
                                </div>
                                <div class="row">
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go(4);">4</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go(5);">5</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go(6);">6</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go(' - ');">-</button>
                                </div>
                                <div class="row">
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go(1);">1</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go(2);">2</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go(3);">3</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go(' + ');">+</button>
                                </div>
                                <div class="row">
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go(0);">0</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go('.');">.</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go('eval');">=</button>
                                    <button class="btn btn-lg btn-default col-xs-3" onClick="go(' / ');">/</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_6/partials/footer.html" %}
        {% endblock %}


        <script type="text/JavaScript">
        var themes = `[
  {"id":0,"text":"Red","bcgColor":"#F44336","fontColor":"#FAFAFA"},
  {"id":0,"text":"Pink","bcgColor":"#E91E63","fontColor":"#FAFAFA"},
  {"id":0,"text":"Purple","bcgColor":"#9C27B0","fontColor":"#FAFAFA"},
  {"id":0,"text":"Indigo","bcgColor":"#3F51B5","fontColor":"#FAFAFA"},
  {"id":0,"text":"Blue","bcgColor":"#2196F3","fontColor":"#212121"},
  {"id":0,"text":"Teal","bcgColor":"#009688","fontColor":"#212121"},
  {"id":0,"text":"Lime","bcgColor":"#CDDC39","fontColor":"#212121"},
  {"id":0,"text":"Yellow","bcgColor":"#FFEB3B","fontColor":"#212121"},
  {"id":0,"text":"Amber","bcgColor":"#FFC107","fontColor":"#212121"},
  {"id":0,"text":"Orange","bcgColor":"#FF5722","fontColor":"#212121"},
  {"id":0,"text":"Brown","bcgColor":"#795548","fontColor":"#FAFAFA"}
]`;

var selectedTheme = '{"Indigo":{"bcgColor":"#3F51B5","fontColor":"#FAFAFA"}}';

localStorage.setItem("themes",themes);
localStorage.setItem("selectedThemes",selectedTheme);

$(document).ready(function() {
  $('.my-select').select2({'data': JSON.parse(localStorage.getItem("themes"))});
});

//Theme Change
$('.apply-button').on('click', function () {
  var changedTo = $('.my-select option:selected').text();
  var length = JSON.parse(localStorage.getItem("themes")).length;

  var bg = "";
  var font = "";

  for (var index = 0; index < length; index++) {
      if(JSON.parse(localStorage.getItem("themes"))[index]['text'] === changedTo){
          bg = JSON.parse(localStorage.getItem("themes"))[index]["bcgColor"];
          font = JSON.parse(localStorage.getItem("themes"))[index]["fontColor"];
          localStorage.setItem("selectedThemes", JSON.parse(localStorage.getItem("themes"))[index]);
      }
  }

  document.body.style.backgroundColor = bg;
  document.body.style.color = font;
});
//END

// Calculator
var message = document.getElementById('message-me');
var chatBox = document.getElementById('chat-box');
var print = document.getElementById('printing');
var erase = false;
var operation = '';
var temp = 0;


var go = function (x) {
  if (x === 'ac') {
      print.value = 0;
      erase = true;
      temp = 0;
  
  } else if (x === 'eval') {
      if (!erase) {
          if (operation === ' + ') {
              print.value = temp + parseFloat(print.value);
          } else if (operation === ' - ') {
              print.value = temp - parseFloat(print.value);
          } else if (operation === ' * ') {
              print.value = temp * parseFloat(print.value);
          } else if (operation === ' / ') {
              print.value = temp / parseFloat(print.value);
          }
      }
      erase = true;

  } else if (x === ' + '){
      operation = ' + ';
      temp = parseFloat(print.value);
      print.value = 0;
      erase = false;
  } else if (x === ' - ') {
      operation = ' - ';
      temp = parseFloat(print.value);
      print.value = 0;
      erase = false;
  } else if (x === ' * ') {
      operation = ' * ';
      temp = parseFloat(print.value);
      print.value = 0;
      erase = false;
  } else if (x === ' / ') {
      operation = ' / ';
      temp = parseFloat(print.value);
      print.value = 0;
      erase = false;
  } else if (x === 'log'){
      operation = 'log';
      temp = parseFloat(print.value);
      print.value = Math.log(temp)/Math.log(10);
  }else if (x === 'sin'){
      operation = 'sin';
      temp = parseFloat(print.value);
      print.value = Math.sin(temp*Math.PI/180);
  }else if (x === 'tan'){
      operation = 'tan';
      temp = parseFloat(print.value);
      print.value = Math.tan(temp*Math.PI/180);
  } else {
      if (print.value === "0") {
          if (x === ".") {
              print.value = "0";
          } else {
              print.value = "";   
          }
      }
      print.value += x;
  }
};

function sendMessage() {
  message.innerHTML += chatBox.value + '<br>';
  chatBox.value = "";
}

function evil(fn) {
  return new Function('return ' + fn)(); //This will return fn
}

//Chat Message
$("textarea").keypress(function (event) {
  if (event.keyCode == 13 && !event.shiftKey) {
      sendMessage();
      return false;
  }
});
//END
        </Script>


    </footer>
    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>    
</body>
