{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>Portofolio</h1>
	<head>
        <style>
            .round {
                border-radius: 5%;
                overflow: hidden;
                width: 150px;
                height: 150px;
            }
            .round img {
                display: block;
                width: 150px;
            }
        </style>
    </head>
    <body>
        <div class="round">
            <img src="https://scontent.fcgk10-1.fna.fbcdn.net/v/t1.0-9/10624810_699254976817456_5854321577147192099_n.jpg?oh=314e7b988b775358cd4a0bcce54759c4&oe=5A51E79C" />
        </div>
		<p>
		Priambudi Lintang Bagaskara
		1606895171
		</p>
    </body>
<hr/>
<section name="bio">
	<h2>Bio</h2>
	<p>
		{{content}}
	</p>    
</section>
<hr/>
<section name="about_me">
	<h2>List</h2>
	<ul>
		{% for ii in about_me %}
		<li> {{ ii }} </li>
		{% endfor %}
	</ul>
</section>
<hr/>

<section name="form">
	<h2>Send Message</h2>
	<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
		{% csrf_token %}
		{{ message_form }}
		<br>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</section>
{% endblock %}