{% extends "lab_6/layout/base.html" %}

{% block content %}
    <!-- ChatBox Section -->
    <section name="Chatbox">
       <div class="wrapper">
          <div class="chat-box">
             <div class="chat-head">
                <h2>Chat</h2>
                <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16">
             </div>
             <div class="chat-body">
                <div class="msg-insert" id="message-me">
                </div>
                <div class="chat-text">
                   <textarea placeholder="Press Enter" id="chat-box"></textarea>
                </div>
             </div>
          </div>
       </div>
    </section>

    <select class="my-select">
        <option value="Red">Red</option>
        <option value="Pink">Pink</option>
        <option value="Purple">Purple</option>
        <option value="Indigo">Indigo</option>
        <option value="Blue">Blue</option>
        <option value="Teal">Teal</option>
        <option value="Lime">Lime</option>
        <option value="Yellow">Yellow</option>
        <option value="Amber">Amber</option>
        <option value="Orange">Orange</option>
        <option value="Brown">Brown</option>
    </select>
    <button class="apply-button">apply</button>
    
{% endblock %}
